body{
    padding: 60px;
    background-color: #f2f2f2;
}
.main{
    display: flex;
    flex-flow: wrap;
    background-color: white;
}

.flex-50{
    flex: 0 0 50%;

}

h1 {
}

.letters-cont, .input-cont{
    margin: auto;
    padding-top: 30px;
}

.letter-box {
    border-bottom: 2px solid black;
    padding: 15px;
    font-size: 35px;
    display: inline-flex;
}

.letter-box p{
    margin: 0;
}

.spaceman-img{
    margin: auto;
    width: 250px;

}